.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 30px 0;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.sidebar-menu li a{
  color: #ecf0f1;
  text-decoration: none;
}
