/* Container Styling */
.manage-logbooks {
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
}

.manage-logbooks h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Logbook List Styling */
.logbook-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Individual Logbook Item */
.logbook-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  color: #2c3e50;
}

.logbook-item:hover{
  background-color: grey;
  color: white;
}

/* Logbook Details */
.logbook-details {
  flex: 1;
}

.logbook-details p {
  margin: 5px 0;
  font-size: 14px;
}

/* Action Buttons */
.logbook-actions {
  display: flex;
  gap: 10px;
}

.update-btn,
.delete-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-btn {
  background-color: #3498db;
  color: white;
}

.update-btn:hover {
  background-color: #2980b9;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
}

.delete-btn:hover {
  background-color: #c0392b;
}
